<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>OUR SUPERHEROES</h1>
    <ul>
        <% for(let i=0; i<superheroesList.length; i++) { %>
            <li>
                <a href="/superheroes/<%=i%>">
                <%= superheroesList[i].name %>
                </a>
            </li>
        <% } %>
    </ul>

    <br>
    <br>
    
    <h1>OUR VILLANS</h1>
    <ul>
        <% for(let j=0; j<villianList.length; j++) { %>
            <li>
                <a href="/superheroes/<%= j %>">
                <%= villianList[j].name %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>