<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= displaySuperHero.name %></h1>
    <ul>
        <% for(let i=0; i<displaySuperHero.powers.length; i++) { %>
            <li><%= displaySuperHero.powers[i] %></li>
        <% } %>
    </ul>

    <br>

    <h1><%= displayVillian.name %></h1>
    <ul>
        <% for(let j=0; j<displayVillian.powers.length; j++) { %>
            
            <li><%= displayVillian.powers[j] %></li>
        <% } %>
    </ul>
    
    <br><br>

    <p><a href="/superheroes"><- Back</a></p>
</body>
</html>